name: Release App

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
  release:
    types: [published]

env:
  NODE_VERSION: "20.x"

jobs:
  build:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Setup NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: "./electron/package-lock.json"

      - name: Install dependencies
        working-directory: ./electron
        run: npm ci

      - name: Build and release on macOS
        if: startsWith(matrix.os, 'macos')
        working-directory: ./electron
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm run build && electron-builder --mac --publish always

      - name: Build and release on Linux
        if: startsWith(matrix.os, 'ubuntu')
        working-directory: ./electron
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm run build && electron-builder --linux --publish always

      - name: Build and release on Windows
        if: startsWith(matrix.os, 'windows')
        working-directory: ./electron
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npm run build && electron-builder --win --publish always
